<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_header(~{::title},~{::link})">
    <title>LDAP Self Service</title>
</head>
<body>

<div class="container">

    <th:block th:replace="~{fragments/base :: top_nav(home)}"/>

    <div th:if="${status ne null}" class="alert alert-info" role="alert" th:text="#{${status}}" ></div>

    <div class="jumbotron">
        <h2 th:text="#{start.headline}">LDAP Self Service</h2>
        <p th:text="#{start.introduction}">...</p>
        <p><a class="btn btn-primary" href="#" th:href="@{/register}"
              role="button" th:text="#{start.register}">Register</a></p>
    </div>


</div>

<th:block th:replace="~{fragments/base :: common_scripts}"/>


</body>
</html>
